.use {
  width: 700px;
  height: 500px;
  padding: 40px;
  border: 1px solid #00000031;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  box-shadow: 10px 10px 15px #0000003a;
  transform: scale(1);
  transition: all 0.5s linear;
  opacity: 1;
  animation-name: scale;
  animation-duration: 0.5s;
  text-decoration: none;
}

h2,
p {
  font-weight: 400;
  font-size: 35px;
}

.use span {
  font-weight: 900;
}

h1 {
  align-self: center;
  font-size: 40px;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}
